<header class='top-page-header'>
<div><%= link_to "SLIDESHOW", root_path, class:  "top"%></div>
<div class='nav'>
    <ul class='sign'>
      <% if user_signed_in? %>
        <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'LOGIN', new_user_session_path, class: "login" %></li>
      <% end %>
    </ul>
  </div>
</header>
<body>
  <% unless user_signed_in? %>
    <div>
      <div class= 'title'>
        <div class='main-title'>あなたもSLIDESHOWでSHOWを創りませんか？</div>
      </div>
    <div class= 'new'>
      <%= link_to '新規登録はこちら', new_user_registration_path, class: "sign-up"%>
    </div>
  <%else%>
    <div class = 'greeting'>
      <div class='hello'>HELLO!</div>
      <%= link_to current_user.nickname, "#", class:  "user-nickname"%>
    </div>
    <div class="previews">
      <div class="slider">
      <%= image_tag 'home-image' %>
      <%= image_tag 'sample' %>
      <%= image_tag 'sample2' %>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  </script>
  <%end%>